header{
    text-align: center;
}
table {
    width: 300px;
    height: 100px;
    margin-left: 230px;
    text-align: center;
    
}
th {
    background: yellow;
}
table{
    margin: 0 auto;
}